<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>karsten</string>
	<key>company</key>
	<string>compeople</string>
	<key>age</key>
	<integer>36</integer>
	<key>address</key>
	<dict>
		<key>country</key>
		<string>germany</string>
	</dict>
</dict>
</plist>
